<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn" (click) = "!shlala">show odd numbers</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group" *ngFor = "let odd of oddNum">
        <li class="list-group-item">{{odd}}</li>
      </ul>
    </div>
    <div class="row">
        <div class="col-xs-12">
          <ul class="list-group" *ngFor = "let even of evenNum">
            <li class="list-group-item">{{even}}</li>
          </ul>
        </div>
  </div>
</div>

